DB_PASSWORD=colocar_contraseña_postgres
MAIL_USERNAME=colocar_correo_gmail
MAIL_PASSWORD=colocar_contraseña_de_aplicacion
SUPPORT_EMAIL=colocar_correo_soporte

ARANDA_API_ENABLED=true
ARANDA_API_URL=http://localhost:9090
ARANDA_API_TOKEN=TOKEN_PRUEBA
ARANDA_PROJECT_ID=1
ARANDA_SERVICE_ID=1
ARANDA_CATEGORY_ID=1
ARANDA_MODEL_ID=1
ARANDA_STATE_ID=1
ARANDA_AUTHOR_ID=0
ARANDA_APPLICANT_ID=0
ARANDA_ITEM_TYPE=1
ARANDA_CONSOLE_TYPE=1