DB_URL=jdbc:postgresql://localhost:5432/gestion_incidencias
DB_USERNAME=postgres
DB_PASSWORD=colocar_contraseña_postgres

MAIL_USERNAME=colocar_correo_gmail
MAIL_PASSWORD=colocar_contraseña_de_aplicacion
SUPPORT_EMAIL=colocar_correo_soporte

JWT_SECRET=colocar_clave_jwt_segura
FRONTEND_URL=http://localhost:8081
